.tile {
    display: grid;
    place-content: center;
    width: 75px;
    height: 75px;
}

.dark-tile {
    background-color: sienna;
}

.light-tile {
    background-color: burlywood;
}

.tile .chess-piece {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
}

.tile .chess-piece:hover {
    cursor:grab;
}

.tile .chess-piece:active {
    cursor: grabbing;
}